.btn {
  position: relative;
  margin: auto;
  border-radius: 1.75rem;
  background-color: #d877a0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  & > p {
    font-size: 1.5rem;
    color: white;
  }
}
